* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #f4f0fc;
}

.card {
    margin: 20px;
    width: 300px;
    height: 300px;
    border-radius: 20px;
    /* background: var(--i); */
    background-size: cover;
    box-shadow:  3px 3px 3px 3px rgba(5, 7, 8, 0.8);
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background: rgba(0, 0, 0, .4);
    opacity: 0;
    transition: .5s;  */
}

/* SOMBRA*/


/* .card:hover .content{
    opacity: 100 ;
} */