.container{
display: flex;
flex-direction: row;
position: relative;
margin-top: 1rem;
}

.card{
    margin-left: 1rem;
    width: 100%;
    height: 7rem;
    border: 1px solid red;
    border-radius: 25px;
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    position: relative;
}

.card-header{
position: relative;
margin-left: 1rem;
margin-right: 1rem;
}

.card-header-title{
color: red;
text-align: center;
}

.card-body{
    position: relative;
    margin-left: 1rem;
    margin-right: 1rem;
}

.card-header-description{
    color: red;
    text-align: center;
}

.imagen{
    position: absolute;
    object-fit: cover;
    width: 17rem;
    height: 5rem;
    padding-left: 13rem;
    padding-top: 1rem;
    border-radius: 25%;
}

.content{
    display: flex;
    flex-direction: column;
}